@model DoAn1.Models.Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 my-3 border">
    <h1>Create category</h1>
    <div class="row">
        <div class="col-sm-6">
            <hr />
            <form asp-action="CreateCategory">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" name="CategoryName" />
                    <span asp-validation-for="CategoryName" class="text-danger">Bắt buộc phải là các ký tự chữ</span>
                </div>
                <div class="form-group">
                    <label class="control-label"> Mô tả</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger">Bắt buộc phải là các ký tự chữ</span>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Tạo" />
                    <a class="btn btn-danger" asp-action="ManageCategories">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>